﻿@using mvc.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "RequestReset";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Reset password</h2>
        <form asp-action="RequestReset" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" autocomplete="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <input type="submit" value="Request reset" class="btn btn-success w-100 p-2" />
            <div class="text-center mt-3">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}