@model mvc.Models.Document

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/usersCRUD.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />

<h1 class="centerDiv">Edit</h1>

<div class="centerDiv">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="id" />
        <div>
            <label for="studentDocFile" class="control-label">Upload New Document</label>
            <input type="file" name="studentDocFile" id="studentDocFile" class="form-control" />
            <span class="text-danger">@ViewData["FileUploadError"]</span>
        </div>
        <div>
            <label asp-for="grade" class="control-label"></label>
            <input asp-for="grade" class="form-control" />
            <span asp-validation-for="grade" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="assignmentId" class="control-label"></label>
            <input asp-for="assignmentId" class="form-control" />
            <span asp-validation-for="assignmentId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="userId" class="control-label"></label>
            <input asp-for="userId" class="form-control" />
            <span asp-validation-for="userId" class="text-danger"></span>
        </div>
        <div class="centerDiv">
            <input type="submit" value="Save" class="btn" />
        </div>
    </form>
</div>

<div class="centerDiv">
    <a asp-action="Index" class="btn">Back to List</a>
</div>
